<div class="signup-page">

  <div class="signup-box">
    <h2>User Signup</h2>

    <form #registerForm="ngForm" (ngSubmit)="register(registerForm)">

      <!-- NAME -->
      <div class="form-group">
        <label>Full Name</label>
        <input
          type="text"
          [(ngModel)]="name"
          name="name"
          required
          #nameRef="ngModel"
          placeholder="Enter your name"
        />
        <small class="error" *ngIf="nameRef.invalid && (nameRef.touched || registerForm.submitted)">
          Name is required
        </small>
      </div>

      <!-- EMAIL -->
      <div class="form-group">
        <label>Email</label>
        <input
          type="email"
          [(ngModel)]="email"
          name="email"
          required
          #emailRef="ngModel"
          placeholder="Enter your Gmail"
        />
        <small class="error" *ngIf="emailRef.invalid && (emailRef.touched || registerForm.submitted)">
          Enter a valid email
        </small>
      </div>

      <!-- PASSWORD -->
      <div class="form-group">
        <label>Password</label>
        <input
          type="password"
          [(ngModel)]="password"
          name="password"
          required
          minlength="6"
          #passRef="ngModel"
          placeholder="Enter password"
        />
        <small class="error" *ngIf="passRef.invalid && (passRef.touched || registerForm.submitted)">
          Minimum 6 characters required
        </small>
      </div>

      <!-- ROLE -->
      <div class="form-group">
        <label>Select Role</label>
        <select [(ngModel)]="role" name="role" required #roleRef="ngModel">
          <option value="">-- Select Role --</option>
          <option value="student">Student</option>
          <option value="organizer">Organizer</option>
        </select>
        <small class="error" *ngIf="roleRef.invalid && (roleRef.touched || registerForm.submitted)">
          Please select role
        </small>
      </div>

      <!-- BUTTON -->
      <button type="submit">Sign Up</button>

    </form>

    <a class="login-link" (click)="goToLogin()">
      Already have an account? Login
    </a>

  </div>

</div>