* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #000;
  color: #fff;
}

/* NAVBAR */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 65px;
  background: #000;
  border-bottom: 2px solid #ff9900;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
  z-index: 1000;
}

.navbar-left img {
  height: 40px;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 15px;
}

.home-btn {
  background: #222;
  padding: 6px 12px;
  border-radius: 6px;
}

.hamburger {
  font-size: 20px;
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
}

/* SIDE MENU */
.side-menu {
  position: fixed;
  top: 0;
  right: -260px;
  width: 260px;
  height: 100vh;
  background: #000;
  transition: 0.3s;
  padding-top: 80px;
  z-index: 2000;
}

.side-menu.show {
  right: 0;
}

.side-menu a {
  display: block;
  padding: 15px 20px;
  color: #fff;
  text-decoration: none;
  border-bottom: 1px solid #333;
}

.side-menu a:hover {
  background: #222;
}

.close-btn {
  position: absolute;
  top: 15px;
  right: 20px;
  background: none;
  border: none;
  color: #fff;
  font-size: 22px;
  cursor: pointer;
}

/* BANNER */
.banner {
  margin-top: 65px;
  height: 380px;
  background: url('/bg10.jpg');

}

/* EVENTS */
.events-container {
  background: #111;
  padding: 40px;
  text-align: center;
}

.events-container h3 {
  margin-bottom: 30px;
  font-size: 24px;
}

.event-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
}

.event-card {
  background: #222;
  border-radius: 12px;
  padding-bottom: 15px;
  transition: 0.3s;
}

.event-card:hover {
  transform: translateY(-6px);
}

.event-card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 12px 12px 0 0;
}

.event-card h4 {
  margin: 15px 0;
}

.btn {
  background: #6e1e1e;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  cursor: pointer;
}
