<nav class="navbar">

  <!-- LEFT -->
  <div class="left">
    <span class="logo" routerLink="/">EventHub</span>
  </div>

  <!-- RIGHT -->
  <div class="right">

    <!-- SEARCH -->
    <div class="search-box">
      <input type="text" placeholder="Search events..." />
      <span class="search-icon">🔍</span>
    </div>

    <!-- MENU ICON (RIGHT SIDE) -->
    @if (user) {
      <span class="menu-icon" (click)="toggleMenu()">☰</span>
    }

    <!-- NOT LOGGED IN -->
    @if (!user) {
      <div class="profile" (click)="toggleProfile()">👤</div>

      @if (showProfileMenu) {
        <div class="dropdown">
          <div (click)="goTo('/login')">Login</div>
          <div (click)="goTo('/register')">Sign Up</div>
        </div>
      }
    }

    <!-- LOGGED IN -->
    @if (user && showMenu) {
      <div class="menu-dropdown">

        @if (user.role === 'admin') {
          <div (click)="goTo('/admin')">Home</div>
          <div (click)="goTo('/admin/dashboard')">Dashboard</div>
          <div (click)="goTo('/admin/manage-events')">Manage Events</div>
          <div (click)="goTo('/admin/manage-users')">Manage Users</div>
        }

        @if (user.role === 'organizer') {
       <div (click)="goTo('/organizer')">Home</div>
          <div (click)="goTo('/organizer/create-event')">Create Event</div>
          <div (click)="goTo('/organizer/my-event')">My Events</div>
        }
        @if (user.role === 'student') {
          <div (click)="goTo('/student')">Home</div>
          <div (click)="goTo('/student/registrations')">My Registrations</div>
          <div (click)="goTo('/student/view-events')">View Events</div>
        }

        <div class="logout" (click)="logout()">Logout</div>
      </div>
    }

  </div>
</nav>
