<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Parisienne&display=swap" rel="stylesheet">


<section class="page">

  <h1>My Registered Events</h1>

  <!-- LOADING -->
  <div class="info" *ngIf="loading">
    Loading your registrations...
  </div>

  <!-- NO DATA -->
  <div class="info" *ngIf="!loading && registrations.length === 0">
    You have not registered for any events yet.
  </div>

  <!-- EVENTS -->
  <div class="grid" *ngIf="!loading && registrations.length > 0">
    <div class="card" *ngFor="let reg of registrations">

      <img
        *ngIf="reg.eventId?.eventImage"
        [src]="'http://localhost:5000' + reg.eventId.eventImage"
        alt="Event Image"
      />

      <div class="card-body">
        <h3> {{ reg.eventId?.title }}</h3>
        <p> Description : {{ reg.eventId?.description }}</p>
        <p> Category : {{ reg.eventId?.category }}</p>
        <p class="date">{{ reg.eventId?.date | date:'mediumDate' }}</p>
        <p> Venue : {{ reg.eventId?.venue }}</p>
      </div>

    </div>
  </div>

</section>
