/* ================= GLOBAL ================= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* ================= FULL PAGE BACKGROUND ================= */
:host {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  background: radial-gradient(circle at top, #111 0%, #000 70%);
  color: white;
}

/* ================= PAYMENT CARD ================= */
.payment-container {
  width: 460px;
  padding: 32px 34px;

  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(14px);

  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);

  box-shadow:
    0 10px 40px rgba(0, 0, 0, 0.6),
    inset 0 0 0 1px rgba(255, 204, 102, 0.15);

  text-align: center;
}

/* ================= HEADINGS ================= */
.payment-container h2 {
  font-size: 36px;
   font-family: 'Parisienne', cursive;
  color: #ffcc66;
  margin-bottom: 6px;
  letter-spacing: 0.4px;
  text-shadow: 0 0 8px rgba(255, 204, 102, 0.7);
}

.sub {
  font-size: 13px;
  color: #ddd;
  margin-bottom: 26px;
}

/* ================= SECTION TITLE ================= */
.payment-box h3 {
  color: #ffb84d;
  font-size: 17px;
  margin-bottom: 16px;
  
}

/* ================= INPUT ================= */
.payment-box input {
  width: 100%;
  padding: 12px 14px;
  margin-bottom: 14px;

  background: rgba(255, 255, 255, 0.12);
  border: none;
  border-radius: 10px;

  color: white;
  font-size: 14px;
}

.payment-box input::placeholder {
  color: #ccc;
}

.payment-box input:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(255, 153, 0, 0.6);
}

/* ================= ROW (CARD PAGE SUPPORT) ================= */
.row {
  display: flex;
  gap: 10px;
}

/* ================= HINT ================= */
.hint {
  font-size: 12px;
  color: #ddd;
  margin-bottom: 18px;
  display: block;
}

/* ================= PAY BUTTON ================= */
.pay-btn {
  width: 100%;
  padding: 14px;

  background: #ff9900;
  border: none;
  border-radius: 12px;

  color: white;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;

  transition: 0.3s;
  box-shadow: 0 8px 30px rgba(255, 153, 0, 0.45);
}

.pay-btn:hover {
  background: #e68a00;
  transform: translateY(-2px);
  box-shadow: 0 12px 35px rgba(255, 153, 0, 0.65);
}

/* ================= CANCEL ================= */
.cancel-btn {
  margin-top: 16px;
  background: none;
  border: none;
  color: #ffcc66;
  cursor: pointer;
  font-size: 14px;
}

.cancel-btn:hover {
  text-decoration: underline;
  color: #ffb84d;
}

/* ================= RESPONSIVE ================= */
@media (max-width: 520px) {
  .payment-container {
    width: 90%;
    padding: 26px 22px;
  }
}
