<div class="main">

  <h1>Manage Event Proposals</h1>

  <div class="proposal-grid">

    <p *ngIf="proposals.length === 0" class="empty">
      No pending proposals.
    </p>

    <div class="proposal-card" *ngFor="let event of proposals">

      <h3>{{ event.title }}</h3>

      <img
        *ngIf="event.eventImage"
        [src]="'http://localhost:5000' + event.eventImage"
        alt="Event Image">

      <p>{{ event.description }}</p>
      <p>Category : {{ event.category }}</p>
      <p>Date : {{ event.date | date }}</p>
      <p>Venue : {{ event.venue }}</p>
      <p>Registration Fee : ₹{{ event.registrationFee }}</p>

      <div class="buttons">

        <button
          class="approve-btn"
          (click)="updateStatus(event._id, 'approved')">
          Approve
        </button>

        <button
          class="reject-btn"
          (click)="updateStatus(event._id, 'rejected')">
          Reject
        </button>

      </div>

    </div>

  </div>

</div>