<section class="page">

  <h1>Registered Students</h1>

  <!-- LOADING -->
  <div class="info" *ngIf="loading">
    Loading students...
  </div>

  <!-- NO DATA -->
  <div class="info" *ngIf="!loading && students.length === 0">
    No students registered yet.
  </div>

  <!-- STUDENTS -->
  <div class="student-grid" *ngIf="students.length > 0">

    <div class="student-card" *ngFor="let s of students; let i = index">

      <!-- 🔥 FIXED -->
      <h3> {{ s.name }}</h3>

      <p>{{ s.email }}</p>

      <p class="date">
        Registered on: {{ s.registeredAt | date:'medium' }}
      </p>

        <!-- 🔥 NEW BUTTON -->
<button class="cancel-btn" (click)="cancelRegistration(s._id)">
  Cancel Registration
</button>

    </div>

  </div>

</section>