* {
  box-sizing: border-box;
}

body {
  background: #0d0d0d;
}

.main {
  padding: 60px 70px;
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
  color: white;
}

h1 {
  text-align: center;
  font-size: 48px;
  color: #ffcc66;
  margin-bottom: 25px;
  text-shadow:
    0 0 6px rgba(255,204,102,0.7),
    0 0 12px rgba(255,153,0,0.6);
}

/* FILTERS */
.filters {
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.filters input {
  padding: 10px 14px;
  border-radius: 10px;
  border: none;
  background: rgba(255,255,255,0.08);
  color: white;
}

/* EVENT GRID */
.event-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
}

.event-card {
  width: 300px;
  background: rgba(255,255,255,0.08);
  border-radius: 18px;
  overflow: hidden;
  box-shadow: 0 8px 25px rgba(0,0,0,0.45);
  transition: 0.25s ease;
}

.event-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 40px rgba(0,0,0,0.6);
}

.event-card img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

.event-info {
  padding: 16px 18px;
}

.event-info h4 {
  color: #ff9900;
  margin-bottom: 8px;
}

.event-info p {
  color: #ddd;
  margin: 4px 0;
}

.card-footer {
  padding: 12px 18px;
  background: rgba(255,255,255,0.02);
  border-top: 1px solid rgba(255,255,255,0.03);
}

.card-footer a {
  color: #ff8c00;
  font-weight: 700;
  text-decoration: none;
}

.card-footer a:hover {
  text-decoration: underline;
}
