.main{
  padding:10px 70px 70px;
  background:#0d0d0d;
  min-height:100vh;
  color:white;
}

h1{
  text-align:center;
  font-family:'Parisienne',cursive;
  font-size:48px;
  color:#ffcc66;
  margin-bottom:25px;
  text-shadow:
    0 0 6px rgba(255,204,102,.7),
    0 0 12px rgba(255,153,0,.6);
}

.filters{
  display:flex;
  justify-content:center;
  gap:15px;
  flex-wrap:wrap;
  margin-bottom:25px;
}

.filters input,
.filters select{
  padding:10px 14px;
  border:none;
  border-radius:10px;
  background:rgba(255,255,255,.08);
  color:white;
}

.event-grid{
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
  gap:25px;
}

.event-card{
  width:300px;
  background:rgba(255,255,255,.08);
  border-radius:18px;
  overflow:hidden;
  box-shadow:0 8px 25px rgba(0,0,0,.45);
  transition:.25s ease;
}

.event-card:hover{
  transform:translateY(-5px);
}

.event-card img{
  width:100%;
  aspect-ratio:1/1;
  object-fit:cover;
}

.event-info{
  padding:16px 18px;
}

.event-info h4{
  color:#ff9900;
}

.event-info p{
  color:#ddd;
  margin:4px 0;
}

.event-actions{
  padding:12px 18px;
  display:flex;
  gap:10px;
}

.event-actions a{
  cursor:pointer;
  color:#ff8c00;
  font-weight:700;
}

.no-data{
  text-align:center;
  color:#ccc;
  margin-top:40px;
}
